.bar {
  /* position: absolute; */
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: var(--player-bg);
  transition: background-color 0.5s ease;
}

.bar__content {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
}

.bar__player_progress {
  width: 100%;
  height: 5px;
  background-color: var(--bar-player-progress);
  transition: background-color 0.5s ease;
}

.bar__player_block {
  height: 73px;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: var(--container);
}
