.switcher {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
  cursor: pointer;
}

.switcher_switcher {
  animation: animSwitcher 1s ease;
}

@keyframes animSwitcher {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
