@keyframes loaderAnimation {
  0% {
    background-color: #333;
  }
  50% {
    background-color: #000;
  }
  100% {
    background-color: #333;
  }
}

.loader {
  width: 50px;
  height: 50px;
  animation: loaderAnimation 3s infinite;
}
